<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Identity</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="~/Deopeia.Identity.Api.styles.css" asp-append-version="true" />
</head>
<body>
  <header>
    <div class="container">
      <h1 class="title py-4">
        Identity
      </h1>
    </div>
  </header>
  <main>
    <div class="container">
      @RenderBody()
    </div>
  </main>
</body>
</html>
