@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:ital,wght@0,100..900;1,100..900&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
}

svg {
  fill: currentColor;
}

svg:focus {
  outline: none;
}
